@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
    margin:0;
    padding:0;
}

body{
    background-color: #090909;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
}

.main-header{
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 108px;
    background: linear-gradient(90deg, #FD6E07 0%, #FA00FF 101.61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.desc{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */
    text-align: center;
    
    color: #FFFFFF;
}

.class-name{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #FF6565;

}


@media (max-width:600px) {
    .main-header{
        font-size: 27px;;
    }
    .desc{
        font-size: 20px;
        line-height: 20px;;
    }
    .class-name{
        margin-top:20px;
        font-size: 20px;;

    }
}